.game {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../assets/marble-background.jpg");
  width: 100vw;
  height: 100vh;
}

.game__container {
  background-color: white;
  padding: 40px;
  border-radius: 30px;
}
