.camelChoice {
    border: 3px solid black;
    padding: 10px;
    width: max-content;
}

.camelButton {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    margin: 10px;
}

.camelButton-red {
    background: red;
}

.camelButton-green {
    background: green;
}

.camelButton-blue {
    background: blue;
}

.camelButton-yellow {
    background: yellow;
}

.camelButton-grey {
    background: grey;
}